# Compiled output
/dist
/tmp
/out-tsc
/coverage

# Dependencies
/node_modules

# IDEs and editors
.idea/
.project
.classpath
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Miscellaneous
/.sass-cache
/connect.lock
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Angular
/.angular/
